.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.events {
  height: 200px;
  overflow-y: scroll;
}

.events ul {
  margin: 120px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-dark {
  position: absolute;
  right: 0;
  margin-top: 0vh;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.bg-1 {
  height: 500px;
}

.mainWindow {
  background-color: #fff;
}

.product-img {
  max-width: 100%;
  max-height: 100%;
}

.item-desc {
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
}
.item-desc {
  text-indent: 15%;
  text-justify: inter-word;
}

.breadcrumb-item a {
  display: contents;
}

/**Dhanushi **/

/* Styling the body */
body {
  margin: 0;
  padding: 0;
}

/* Styling section, giving background
  image and dimensions */
section {
  width: 100%;
  height: 100vh;
}
.eventList {
  width: 100%;
}

.events {
  width: 100%;
}
/* Styling the left floating section */
section .leftBox {
  width: 50%;
  height: 100%;
  background-image: url("bidding.jpg");
  background-repeat: no-repeat;
  float: left;

  padding: 50px;
  box-sizing: border-box;
  background-size: cover;
}

/* Styling the background of
  left floating section */
section .leftBox .content {
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: 0.5s;
}

/* Styling the hover effect 
  of left floating section */
section .leftBox .content:hover {
  background: #e91e63;
}

/* Styling the header of left
  floating section */
section .leftBox .content h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}

/* Styling the paragraph of
  left floating section */
section .leftBox .content p {
  margin: 10px 0 0;
  padding: 0;
}

/* Styling the three events section */
section .events {
  position: relative;
  width: 50%;
  height: 100%;
  transition: 0.5s;
  background: rgba(165, 44, 44, 0.5);
  float: right;
  box-sizing: border-box;
}

/* Styling the links of
the events section */
section .events ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding: 40px;
  box-sizing: border-box;
}

/* Styling the lists of the event section */
section .events ul li {
  list-style: none;
  background: #fff;
  box-sizing: border-box;
  height: 200px;
  margin: 15px 0;
}

/* Styling the time class of events section */
section .events ul li .time {
  position: relative;
  padding: 20px;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: 0.5s;
}

/* Styling the hover effect
  of events section */
section .events ul li:hover .time {
  background: #e91e63;
}

/* Styling the header of time
  class of events section */
section .events ul li .time h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60px;
  line-height: 30px;
}

/* Styling the texts of time
class of events section */
section .events ul li .time h2 span {
  font-size: 30px;
}

.thankyou {
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  background-position: center;
  background-image: url("../src/assets/ThankYou.jpg");
}
/* Styling the details
class of events section */
section .events ul li .details {
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}

/* Styling the header of the
details class of events section */
section .events ul li .details h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

/* Styling the lists of details
class of events section */
section .events ul li .details p {
  position: relative;
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;
}

/* Styling the links of details
class of events section */
section .events ul li .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 1.5px solid #262626;
  margin-top: 8px;
  font-size: 18px;
  transition: 0.5s;
}

/* Styling the details class's hover effect */
section .events ul li .details a:hover {
  background: #e91e63;
  color: #fff;
  border-color: #e91e63;
}

/* Home Page CSS */
.bg-image {
  background-image: url("../src/assets/bestbid.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 20px;
}

.bg-text {
  z-index: 10;
  opacity: 10;
}

.sub-topic {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: black;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f5f5f5;
}

@media (min-width: 360px) and (max-width: 640px) {
  .pro-box-section .pro-box img {
    height: auto;
  }
}
